<div class="container mt-5">
  <h2 class="text-center mb-4">User Dashboard</h2>
  <form (ngSubmit)="submitAttendance()">
    <div class="form-group">
      <label for="date">Select Date:</label>
      <input type="date" id="date" class="form-control" [(ngModel)]="selectedDate" name="date" required>
    </div>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>PIN</th>
          <th>Name</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.pin }}</td>
          <td>{{ student.name }}</td>
          <td>
            <input type="checkbox" [(ngModel)]="student.present" 
       (change)="updateAttendance($event, student)" />

          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit Attendance</button>
  </form>
</div>