<h1>attendence login</h1>
<div class="wrapper">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-box">
      <input type="email" name="email" placeholder="Enter email" [(ngModel)]="email" required>
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
    </div>
    <div class="policy">
      <input type="checkbox" required>
      <label>I accept all terms & conditions</label>
    </div>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <div class="input-box button">
      <input type="submit" value="Login">
    </div>
  </form>
</div>
